---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import Proyectos from '../components/Project.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
title="Portfolio de iamjuliodev - Desarrollador Frontend y Salesforce"
description="Desarrollador Frontend y Salesforce. Especializado en la creación de soluciones innovadoras y personalizadas."
>
	<main class="p-4">
		<Header />
		<Hero />
		<Experience />
		<Proyectos />
		<Footer />
	</main>
</Layout>
