---
import SectionLayout from "../layouts/SectionLayout.astro";
import Projects from "./icons/Projects.astro";
---

<SectionLayout>
    <h2 class="mb-14 text-xl md:text-3xl font-bold flex items-center gap-4">
        <Projects class="size-6 md:size-10" />Sobre mí
    </h2></SectionLayout>