---
import SectionLayout from "../layouts/SectionLayout.astro";
import AboutMeIcon from "./icons/AboutMe.astro";
---

<SectionLayout id="sobre-mi">
    <h2 class="mb-14 text-xl md:text-3xl font-bold flex items-center gap-4">
        <AboutMeIcon class="size-6 md:size-10" />Sobre mí
    </h2>

    <p>
        Soy Julio, desarrollador web con más de <span class="text-yellow-100">15 años de experiencia en el
        desarrollo de aplicaciones web y móviles</span>. Me apasiona la tecnología y la
        programación, y disfruto creando soluciones innovadoras y eficientes
        para problemas complejos.
    </p>
    <p>
        Tengo experiencia en el <span class="text-yellow-100">desarrollo y mantenimiento de soluciones web en
        la plataforma Salesforce</span>. Especializado en la configuración y creación
        de servicios.
    </p>
    <p>Me considero un apasionado de la tecnología y un
        entusiasta de la programación, y estoy siempre buscando nuevas formas de
        <span class="text-yellow-100">mejorar mis habilidades y aprender nuevas tecnologías</span>.
    </p>
</SectionLayout>
