---
import SectionLayout from "../layouts/SectionLayout.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import BriefCase from "./icons/BriefCase.astro";

const EXPERIENCE = [
    {
        date: "Abril 2022 - Octubre 2024",
        company: "Seidor Consulting",
        title: "Salesforce Developer",
        description:
            "Desarrollador Salesforce Commerce con experiencia en el desarrollo y mantenimiento de soluciones web en la plataforma Salesforce. Especializado en la configuración y creación de servicios en Business Manager.",
    },
    {
        date: "Junio 2018 - Mayo 2022",
        company: "Estudio Numérico",
        title: "Frontend Developer",
        description:
            "Desarrollo y maquetación, HTML5, CSS3 y frameworks como Bootstrap y TailwindCSS. Trabajo con diversas bases de datos y entornos back-end y front-end, además de gestionar contenidos en WordPress.",
    },
];
---

<SectionLayout id="experiencia">
    <h2 class="mb-14 text-xl md:text-3xl font-bold flex items-center gap-4">
        <BriefCase class="size-6 md:size-10" />Experiencia Laboral
    </h2>

    <ol class="relative border-s border-yellow-100 dark:border-gray-700">
        {
            EXPERIENCE.map((experience) => (
                <li class="mb-10 ms-4 flex flex-col gap-y-5 md:grid md:grid-cols-2">
                    <ExperienceItem {...experience} />
                </li>
            ))
        }
    </ol>
</SectionLayout>
