---
---

<header>
    <nav class="flex justify-center mx-auto items-center gap-4 text-xs md:text-md">
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>
