---
import "@fontsource-variable/onest";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="relative h-full w-full bg-slate-950">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body
		class="absolute rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
	>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: "Onest Variable", sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		height: 100vh;
		width: 100%;
	}

	@media(reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
